*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none!important;
}
.logo{
    width: 100px;
    cursor: pointer;
}
.myNav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 7%;
    background-color: black;
    position: fixed;
    width: 100%;
    opacity: 1;
}
.myNavMid{
    display: flex;
    padding: 29px 0px;
    justify-content: center;
}
.myNavRight{
    display: flex;
    justify-content: right;
    align-items:  center;
    padding: 29px 0px;
}
.myNavLeft{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 25%;
}
.myNavMid div{
    display: flex;
    justify-content: center;
}
.myNavItem{
    padding:0 25px ;
    font-family: 'Rajdhani', sans-serif;
    font-size: 23px;
    color: #f2f3f7;
}
.myNavItem:hover{
    opacity: 0.6;
    cursor: pointer;
    transition: 0.4s;
}
.act{
    color: #f4d70d;
}
.myNavRight i{
    font-size: x-large;
    color: #f2f3f7;
    cursor: pointer;
    padding: 0px 15px;
}
.aboutUs{
    background-color: black;
}
#menuToggle{
    color: #f2f3f7;
    font-size: x-large;
    display: none;
    cursor: pointer;
}
#menuToggle:hover{
    color: #f4d70d;
}
@media only screen and (max-width:1300px) {
    .myNav .myNavMid,.myNav .myNavRight{
        display: none;
    }
    .myNav #menuToggle {
        display: block;
    }
}
.icons:hover{
    color: #f4d70d;
    transition: 0.4s;
    cursor: pointer;    
}
.btnGirisYap{
    transition: 0.4s;
    border-radius: 20px!important;   
}
.btn{
    white-space: nowrap;
}
.section-2{
    height: 700px;
    margin-bottom: -100px;
    padding-top: 300px;
    background-image: url(arka6.png);
}
footer{
    background-color: black;
    text-align: center;
}
footer i{
    padding: 20px 10px;
    font-size: xx-large;
    color: #f2f3f7;
    cursor: pointer;
}
footer i:hover{
    color: #da2025;
    transition: 0.4s;
}
.footerAciklama{
    color: #f2f3f7;
    font-family: 'Rajdhani', sans-serif;
    font-size: x-large;
    cursor: pointer;
}
.footerAciklama:hover{
    color: #da2025;
    font-family: 'Yellowtail', cursive;
}
.footerSartlar{
    color: white;
    opacity: 0.2;
    font-family: 'Rajdhani', sans-serif;
    font-size: large;
    cursor: pointer;
}
.arkaplanResim{
    height: 737px;

}
.arkaplanKullanici h1{

    text-align: center;
     
    font-size: x-large;
    
}
.baslik h1{
    font-weight: bolder;
    font-size: 10px;
}
.portfolio{
    display: flex;
    flex-wrap: wrap;
}
.portfolio-item{
    width: 25%;
    height: 200px;
    overflow: hidden;
}
.portfolio-item img{
    width: 100%;
    height: 100%;
    object-fit: cover ;
}
.arkaplanKullanici{

    display: flex;
    justify-content: center;
    align-items: center;
}
.arkaplanKullanici #name{
    border-radius: 19px!important;   
}
.arkaplanKullanici #password{
    border-radius: 19px!important;   
}
.arkaplanKullanici #logın{
    border-radius: 19px; padding-right:10px; padding-left:10px;
}
