*{
    margin: 0;
    padding: 0;
}
.screen{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    background-color: yellow;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.plLPH{
    margin-bottom: 50px;
    font-family: 'Yellowtail', cursive;
    font-size: x-large;
    animation: yaziEfekt 2s infinite ease;
}
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: red;
    width: 50px!important;
    height: 50px!important;
    animation: loader 1.5s infinite ease;
    border: 4px solid red;
    top: 50%;
  }
  @keyframes yaziEfekt {
    0% {
        color: yellow;
    }
    
    50% {
        color:black
    }
    
    100% {
        color: yellow;
    }
  }

  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }